header{
	 
		top:-10px; 
		left: 0;
		height: 200px;
		background-color: lightblue;	
	       }
.titreHeader{
	color: gold;
	margin-top:-20px;
	margin-left:0px;
	text-align: center;
	font-size: 43px;
	padding: 70px;
	text-shadow:
	             0 1px 10px rgb(190,190,190),
				 0 2px 10px rgb(185,185,185),
				 0 3px 0 rgb(180,180,180),
				 0 4px 0 rgb(175,175,175),
				 0 5px 0 rgb(170,170,170),
				 0 6px 0 rgb(165,165,165),
				 0 7px 0 rgb(160,160,160),
				 
				 0 1px 5px rgba(0,0.5,0,.05),
				 0 3px 5px rgba(0,0.5,0,.1),
				 0 5px 10px rgba(0,0.5,0,.15),
				 0 7px 10px rgba(0,0.5,0,.20),
				 0 10px 15px rgba(0,0.5,0,.25);
				 transition: all 0.35 ease-in-out;
				 cursor:pointer;
	}
.titreHeader2{	color: brown;
	margin-top:-60px;
	margin-left:0px;
	text-align: center;
	font-size: 40px;
	padding: 70px;}
	
.titreHeader:hover{
	text-shadow:
		         0 1px 10px rgb(190,190,190),
				 0 2px 10px rgb(185,185,185),
				 0 3px 0 rgb(180,180,180),
				 0 4px 0 rgb(175,175,175),
				 0 5px 0 rgb(170,170,170),
				 0 6px 0 rgb(165,165,165),
				 0 7px 0 rgb(160,160,160),
				 0 8px 0 rgb(155,155,155),
				 0 9px 0 rgb(150,150,150),
				 
				 0 1px 5px rgba(0,0.5,0,.05),
				 0 3px 5px rgba(0,0.5,0,.1),
				 0 5px 10px rgba(0,0.5,0,.15),
				 0 7px 10px rgba(0,0.5,0,.20),
				 0 10px 10px rgba(0,0.5,0,.25),
				 0 15px 15px rgba(0,0.5,0,.30),
				 0 15px 20px rgba(0,0.5,0,.35);
				 tranform:translate(-51%,-51%);
				 transition: all 0.35 ease-in-out;	
}
	.imgchimie{opacity: 1;position: center;}
	.einstein{width:100px;height:70px;position:relative;bottom:60px;left:30px; border-radius:10px 0;}
	.newton{width:100px;height:70px;position:relative;bottom:60px;left:60px;border-radius:10px 0;}
	.poincare{width:100px;height:70px;position:relative;bottom:60px;left:90px;border-radius:10px 0;}
	.personneliteInfluence{position:relative;bottom:180px;left:90px;}
   
.nom{}	
.nomCV{
	position:relative;
	margin-left:150px;	
}
	
.liste{
	position:relative;
	margin-left:107px;	
}
.listee{
	position:relative;
	margin-left:700px;	
	margin-top:80px;
}

.portable{position:absolute;margin-top:-10px;right:90px;}
.email{position:absolute;margin-top:-40px;right:30px;}
.gmail{width=32px;height:32px;position:absolute;margin-top:-50px;right:220px;}
.photoportable{width:32px;height:32px;position:absolute;margin-top:-17px;right:220px;}
.facebook{position:absolute;margin-top:-90px;right:100px} 
.LinkedIn{width:32px;height:32px;position:absolute;margin-top:-90px;right:140px;}
.photomaison{width:32px;height:32px;position:absolute;margin-top:-30px;right:467px;}
.youtube{width:32px;height:32px;position:absolute;margin-top:-90px;right:180px;}
.adresse{position:absolute;margin-top:-60px;right:280px;}
nav{top:100px;left:0px;right:0;height: 150px;background-color: orange}
body{


}
section{
background-image: url(slide/LDV.png);
background-repeat:no-repeat;
background-size: cover;
z-index: -1;
background-size: 100%;

width:100%;
height: 900px;



}
	.presentation{
		font-family: Helvetica,Arial,sans-serif;
		text-align:justify;
		float:right;
		width:30%;
	    margin-top: -500px;
		margin-right:50px;
		/*text-align: center;
	   margin: 100px;
	   padding: 50px;
	   position:relative; 
	   left:100px; 
	   right: 500px;
	   font-size: 20px;
	   color:purple;*/
	    }
		
	.presentationTitre{text-align:underline;}
	.langageInformatique{ margin-top:-460px;margin-left:20px;}
	.gas{width:35px;height:35px; margin-left:250px;position:relative;top:-228px;left:10px;}
	.java{width:25px;height:32px;margin-left:-40px;position:relative;top:-230px;left:60px;}
	.c{width:35px;height:35px;margin-left:-100px;position:relative;top:-150px;}
	.javascript{width:40px;height:40px;margin-left:0px;position:relative;top:-145px;}
	.html{width:30px;height:30px;margin-left:0px;position:relative;top:-152px;}
	.css{width:30px;height:30px;margin-left:4px;position:relative;top:-152px;}
	.sql{width:30px;height:28px;margin-left:-135px;position:relative;top:-190px;}
	.xml{width:28px;height:28px;margin-left:10px;position:relative;top:-190px;}
	.shell{width:28px;height:28px;margin-left:10px;position:relative;top:-190px;}
	.uml{width:28px;height:28px;margin-left:10px;position:relative;top:-190px;}
	.pascal{width:25px;height:28px;margin-left:-16px;position:relative;top:-152px;}
	.vba{width:25px;height:28px;margin-left:-148px;position:relative;top:-230px;}
	.vba{width:25px;height:28px;margin-left:-148px;position:relative;top:-230px;}
	/*.php{width:25px;height:28px;margin-left: -155px;position:relative;top:-280px;}
	.swift{width:25px;height:28px;margin-left:-150px;position:relative;top:-280px;}
	.linux{width:40px;height:70px;margin-left:-140px;position:relative;top:-310px;left:100px;top:-320px;}*/
	.linux{width:40px;height:70px;margin-left:-140px;position:relative;top:-290px;left:150px;top:-278px;}
	
	/*aside{
    position:absolute;
	top:160px;
	left:1475px;
	width:100px;
	height:1000px;
	background-color:blue;
	     }*/
    footer{
	position:center;
	top:1161px;
	left:12px;
	width:1565px;
	height:80px;
	background-color:orange;	
	}
.slideshow-container{
position: relative;
width: 800px;
top:80px;
margin: auto;
}

.numbers{
position: absolute;
top: 0;
color: #f2f2f2;
padding: 8px 12px;
font-size: 12px;
}

.myslides{
display: none;
}
.énergie1{border-radius: 20px 20px;}
.pétrole{border-radius: 20px 20px;}
.informatique{border-radius: 20px 20px;}
.hse{border-radius: 20px 20px;}
.prev , .next{

position: absolute;
top: 45%;
font-size: 25px;
font-weight: bold;
padding: 10px 10px;
/*margin-top: -22px;*/
border-radius: 0 8px 8px 0;
color: blue;
cursor: pointer;
}

.next{
border-radius: 8px 0 0 8px;
position:absolute;
right: 200px;
}

.prev:hover,.next:hover{
background-color: rgba(0,0,0,0.8);
}

.caption{
background-color:black;
left:185px;
text-align: 50px;
position: absolute;
top: 25px;
width: 20%;
color: yellow;
font-size: 20px;
padding: 20px 22px;
}

.dots{
	position:relative;
	margin-top:100px;
	right:70px;
    width: 13px;
    height: 13px;
    background: gray;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
       }

.fade{
animation-name:fade;
animation-duration:1.5s;
}

@keyframes fade{
from {opacity: 0.4;}
to {opacity: 1;}
}
.active, .dot:hover {
background-color: #333;
}


/************** Buttons ************************/
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    position:relative;
    top: 10px;
    left: 100px;
    
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 20px;
    background-color: green;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: blue;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.formations{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    position:relative;
    top: 10px;
    left: 100px;
	font-size: 1rem;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 1px #000;
	border-radius: 20px;
	background-color: green;
	background-image: linear-gradient(to top left,rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.formations:hover {
    background-color:blue;
}

.formations:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.projets{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    position:relative;
    top: 10px;
    left: 100px;
	font-size: 1rem;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 1px #000;
	border-radius: 20px;
	background-color: green;
	background-image: linear-gradient(to top left,rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.projets:hover {
    background-color:blue;
}

.projets:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.logiciels{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    position:relative;
    top: 10px;
    left: 100px;
	font-size: 1rem;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 1px #000;
	border-radius: 20px;
	background-color: green;
	background-image: linear-gradient(to top left,rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.logiciels:hover {
    background-color:blue;
}

.logiciels:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.loisirs{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    position:relative;
    top: 10px;
    left: 100px;
	font-size: 1rem;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 1px #000;
	border-radius: 20px;
	background-color: green;
	background-image: linear-gradient(to top left,rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.loisirs:hover {
    background-color:blue;
}

.loisirs:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}


.diplome{
	width: 202px;
	height: 200px;
	border-radius: 80px;
	margin-top: 100px;
	margin-left: 100px;
}

.textFormation01{
    margin-left: 340px;
	margin-top: -200px;
}

.diplome01{
	width: 202px;
	height: 200px;
	border-radius: 80px;
	margin-top: -150px;
	margin-left: 930px;
}
.textFormation02{
	margin-left: 1150px;
	margin-top: -200px;}

.formation{
	display: inline-block;
}